<h1 class="mt-4">Clientes</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">{{ cliente.id ? 'Edição':'Cadastro' }}</li>
</ol>
<div class="container">
    <!-- {{cliente.nome}}
    {{cliente.cpf}} -->
    <form #clienteForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success" role="alert" *ngIf="success==true">
                    Cliente/atualizado com sucesso
                </div>
                <div class="alert alert-danger" role="alert" *ngFor="let erro of errors">
                    {{ erro }}
                </div>
            </div>
        </div>
        <div class="row" *ngIf="cliente.id">
            
            <div class="col-md-6">
                <div class="form-group">
                    <label>ID:</label>
                    <input type="text" class="form-control" disabled="true" name="id" [ngModel]="cliente.id">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Data de cadastro:</label>
                    <input type="text" class="form-control" disabled="true" name="dataCadastro" [ngModel]="cliente.dataCadastro">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Nome:*</label>
                    <input type="text" class="form-control" [(ngModel)]="cliente.nome" name="nome">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>CPF:*</label>
                    <input type="text" class="form-control" [(ngModel)]="cliente.cpf" name="cpf">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="bt-mg">
                    <button type="submit" class="btn btn-success">
                        <i class="{{ cliente.id ? 'bi bi-arrow-clockwise':'bi bi-plus-square-fill' }}" style="margin-right: 1rem;"></i>
                        {{ cliente.id ? 'Atualizar':'Salvar' }}
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
